//Descriptive colors
$basic-black: #222;
$light-gray: #D3D4D3;


//Color hierarchy/palette
$primary-color: $basic-black;
$secondary-color: $light-gray;

$image-overlay-bg-color: $light-gray;



//Notes about font
//Top right font, headers, menu: Futura PT
//Body text: Proxima Nova
