//Descriptive colors
$mobile_menu_bottom_border_gray: rgb(221,221,221);
$menu-link-gray: rgb(153, 153, 153);
$body-color: rgb(87, 87, 87);
$site-title-color: rgb(68,68,68);
$project-thumbnail-title-color: rgb(64, 64, 64);
$single-project-title-color: rgb(34, 34, 34);
$menu-link-hover-color: rgb(17,17,17);
