.gform_footer input[type=submit] {
    background-color: $primary-color;
}
@media ( max-width: map-get($breakpoints,medium) ) {
    div.ginput_container_name span {
        padding-right: 0;
    }

    div.ginput_complex.ginput_container.gf_name_has_2 span {
        width: 100%;
    }

    .gform_wrapper .top_label input.medium {
        //Email field
        width: 75%;
    }
}
