header {
	padding-top: 4rem;
	padding-bottom: 4rem;
	max-width: $global-width;
	margin: 0 auto;
	position: relative;
	letter-spacing: 1px;
}

header::after {
	content: '';
	display: block;
	clear: both;
}
#site-title {
	float: left;
	font-size: rem-calc(28);
  font-weight: bold;
	text-transform: uppercase;
}
#menu-primary-navigation {
	float: right;
	margin: 0;
	position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
	li {
		display: inline-block;
		padding: 0 .5em;
		a {
			display: block;
			text-transform: uppercase;
		}
	}
}
