header {
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin: 0 auto;
	position: relative;
	letter-spacing: 1px;
}

header::after {
	content: '';
	display: block;
	clear: both;
}

.title-container {
	float: left;

	#site-title {
		font-size: rem-calc(40);
		font-weight: bold;
		text-transform: uppercase;
		color: $site-title-color;
	}

	#site-sub-title {
		font-size: rem-calc(18);
		font-weight: 400;
		color: $site-title-color;
	}
}

#menu-primary-navigation {
	float: right;
	margin: 0;
	position: absolute;
	right: map-get($grid-column-gutter, small)/2; //Column gutter values from Foundation _settings.scss
	@include breakpoint (medium) {
		right: map-get($grid-column-gutter, medium)/2;
	}
	top: 4rem;

	li {
		display: inline-block;
		padding: 0 0.5em;

		a {
			display: block;
			text-transform: uppercase;
			color: $menu-link-gray;

			&:hover {
				color: $menu-link-hover-color;
			}

			&.active-link {
				color: $menu-link-hover-color;
			}
		}
	}
}
