// TODO: Style the bottom links.
// TODO: Style the body text.

.single-project {
	.main-content {
		margin-bottom: 3rem;
	}

	.project-title {
		line-height: 1;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	a:hover {
		text-decoration: underline;
	}

	.prev-next-container {
		float: right;

		&::after {
			content: '';
			display: table-cell;
			clear: both;
		}
	}
}
